
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="justify-content: center;">
      <span class="fs-4" style="color:green; font-size: 500px; font-family:Arial, Helvetica, sans-serif;"><h1>BindeR</h1></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse d-flex flex-row bd-highlight mb-3" id="navbarsExample03" style="font-size: 20px">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item p-2 bd-highlight">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown p-2 bd-highlight">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Tales</a>
        </li>
        <li class="nav-item dropdown p-2 bd-highlight">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Thesis</a>
        </li>
        <li class="nav-item dropdown p-2 bd-highlight">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Cuisines</a>
        </li>
        <li class="nav-item p-2 bd-highlight"><a href="#" class="nav-link link-dark px-2">Magazines</a></li>
      </ul>
      <form style="margin-left:400px;" class="d-flex flex-row-reverse bd-highlight">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="margin-right: 30px;">
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item p-2 bd-highlight"><a href="#" class="nav-link link-dark px-2">Login</a></li>
        <li class="nav-item p-2 bd-highlight"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>
